//Main
//Bootstrap variable overides
$font-family-header: 'Arvo';
$font-family-sans-serif: 'Montserrat';
//Testing
@import 'components/sidebar';
@import 'components/map';
@import 'components/modals';
@import 'leaflet/symbology';
// Required
@import "../../../node_modules/bootstrap/scss/bootstrap";

#content-wrapper,
.container-fluid,
body,
html,
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal-title,
nav {
  font-family: $font-family-header;
}

input#assetSearch {
  font-family: $font-family-sans-serif;
}
/***Google Translat Styling**/
.goog-te-banner-frame {
  display: none!important;
}

#google_translate_element {
  display:none!important;
}
