//Main
//Bootstrap variable overides
$font-family-header: 'Arvo';
$font-family-sans-serif: 'Montserrat';

//Other vars


// Import custom components
@import 'components/sidebar';
@import 'components/map';
@import 'components/modals';
@import 'leaflet/symbology';
@import 'leaflet/layer_control';

// Import bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Need to position body top at 0px to prevent
// Google widget from pushing contents down
body {
  top:0px!important;
}

#content-wrapper,
.container-fluid,
body,
html,
#main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

//Adjust top padding of main content according to
//Navbar height.
#main {
  @media screen and (max-width: 540px) {
    padding: 56px 0px 0px; //mobile
  }
  padding: 86px 0 0; //Full size
}

.modal-title,
nav, .sidebar h5 {
  font-family: $font-family-header;
}

input#assetSearch {
  font-family: $font-family-sans-serif;
}


//Hide Google translate widget and banner
.goog-te-banner-frame {
  display: none!important;
}

#google_translate_element {
  display:none!important;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

//Historic district popup

.leaflet-popup-content {
  h5 {
    font-family: $font-family-header;
    font-size: 16px;
  }
  p {
    font-family: $font-family-sans-serif
  }
}
