//Main
//Bootstrap variable overides
$font-family-header: 'Arvo';
$font-family-sans-serif: 'Montserrat';
//Testing
@import 'components/sidebar';
@import 'components/map';
@import 'components/modals';
@import 'leaflet/symbology';
// Required
@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  top:0px!important;
}

#content-wrapper,
.container-fluid,
body,
html,
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal-title,
nav {
  font-family: $font-family-header;
}

input#assetSearch {
  font-family: $font-family-sans-serif;
}
/***Google Translat Styling**/
.goog-te-banner-frame {
  display: none!important;
}

#google_translate_element {
  display:none!important;
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
